<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  {{ sonata_seo_title() }}
  {{ sonata_seo_metadatas() }}
  <title>
  {% block title %}
  Sito Luisa Galdo
{% endblock %}</title>
<style>
@font-face {
    font-family: 'WindsorLight';
    src: url({{asset('bundles/luisafrontend/font/WindsorLight.ttf')}});
}
</style>
{% block stylesheets %}
<link href="{{ asset('bundles/luisafrontend/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/luisafrontend/css/font-awesome.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/luisafrontend/css/font-awesome.min.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/luisafrontend/css/jquery.simplyscroll.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/luisafrontend/css/main.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
{% endblock %}
{% block javascripts %}
<script src="{{ asset('bundles/luisafrontend/js/jquery.js') }}"></script>
<script src="{{ asset('bundles/luisafrontend/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/luisafrontend/js/jquery.isotope.min.js') }}"></script>
{% endblock %}
</html>
