<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  {{ sonata_seo_title() }}
  {{ sonata_seo_metadatas() }}
  <title>
  {% block title %}
  Sito Luisa Galdo
{% endblock %}</title>
{% block stylesheets %}
<link href="{{ asset('public/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('public/css/font-awesome.css') }}" rel="stylesheet">
<link href="{{ asset('public/css/font-awesome.min.css') }}" rel="stylesheet">
<link href="{{ asset('public/css/jquery.simplyscroll.css') }}" rel="stylesheet">
<link href="{{ asset('public/css/main.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
{% endblock %}
{% block body %}
{% endblock %}
{% block javascripts %}
<script src="{{ asset('public/js/jquery.js') }}"></script>
<script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('public/js/jquery.isotope.min.js') }}"></script>
{% endblock %}
</html>
