<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  {{ sonata_seo_title() }}
  {{ sonata_seo_metadatas() }}
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" type="image/x-icon" href="{{ asset('public/favicon.ico') }}" />
  <title>
  {% block title %}
  Sito Luisa Galdo
{% endblock %}
</title>
{% block stylesheets %}
<link href="{{ asset('public/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('public/font/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<link href="{{ asset('public/css/agency.css') }}" rel="stylesheet">
<link href="{{ asset('public/css/showmore.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
{% endblock %}
{% block javascripts %}
<script src="{{ asset('public/js/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('public/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('public/js/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ asset('public/js/agency.js') }}"></script>
{% endblock %}
</html>
