{% extends "::base.html.twig" %}
{% block body%}
<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">LUISA GALDO</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#video">Video</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
      <video class="masthead" defaultMuted muted playsinline autoplay loop>
        <source src="public/video/video.mp4" type="video/mp4">
      </video>
    <!-- Services -->

    <!-- Video Grid -->
    <section class="bg-light" id="video">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Video</h2>
          </div>
        </div>
        <div class="row video">
            {% if video %}
                {% for v in video %}
                <div class="col-md-12 portfolio-item">
                  <a class="portfolio-link" href="{{ path('video', { id: v.id }) }}">
                    <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                        {{v.name}}
                        <!--<i class="fa fa-plus fa-3x"></i>-->
                      </div>
                    </div>
                    <img class="image-video" src="{% path v.image, 'reference' %}"></img>
                  </a>
                  </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-xs-12 text-center"><button type="button" class="btn btn-default upload-more1">More</button></div>
      </div>
    </section>
    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Portfolio</h2>
          </div>
        </div>
        <div class="row portfolio">
          {% for f in fotocategoria %}
          <div class="col-md-3 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{f.id}}">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  {{f.name}}
                  <!--<i class="fa fa-plus fa-3x"></i>-->
                </div>
              </div>
              <img class="img-fluid" src="{% path f.image, 'reference' %}" alt="{{f.name}}">
            </a>
          </div>
          {% endfor %}
        </div>
        <div class="col-xs-12 text-center"><button type="button" class="btn btn-default upload-more">More</button></div>
      </div>
    </section>

    <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">{% if about %}{% for a in about %}{{a.about|raw}}{% endfor %}{% endif %}</h3>
          </div>
        </div>

        </div>
      </div>
    </section>

    <!-- Team -->
    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-subheading text-muted contact">EMAIL<br>luisagaldo@hotmail.com<br><br>STUDIO<br>2G, Collazia 00183<br>Rome<br>Italy</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">

          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright"></span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://vimeo.com/user17036088">
                  <i class="fa fa-vimeo"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/galdoluisa/?hl=it">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="http://www.luxflux.net">
                  <i class="fa lux">LF</i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/luisa.galdo">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/luisa-galdo-7b03423/">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com/luisartre">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">

          </div>
        </div>
      </div>
    </footer>
    <!-- Portfolio Modals -->
    <!-- Modal 1 -->
    {% for foto in foto %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{foto.categoria.id}}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  {% if foto.gallery %}
                  <!-- Project Details Go Here -->
                  <div id="carouselExampleIndicators{{foto.id}}" class="carousel slide" data-ride="carousel" data-interval="false" >
                    <ol class="carousel-indicators">
                      {% for f in foto.gallery.galleryHasMedias  %}
                      <li data-target="#carouselExampleIndicators{{foto.id}}" data-slide-to="{{ loop.index -1 }}" {% if loop.first %} class="active"{% endif %}></li>
                      {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                      {% for f in foto.gallery.galleryHasMedias  %}
                      <div class="carousel-item {% if loop.first %}active{% endif %}" data-interval="false"  >
                        <img class="d-block width" src="{% path f.media, 'reference' %}" alt="First slide">
                      </div>
                      {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators{{foto.id}}" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators{{foto.id}}" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endfor %}
    <!-- Modal 1 -->
<script src="{{ asset('public/js/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('public/js/masonry.pkgd.min.js') }}"></script>
<script src="{{ asset('public/js/imagesloaded.pkgd.min.js') }}"></script>
<script>
var $grid = $('.portfolio').imagesLoaded( function() {
  // init Masonry after all images have loaded
  $grid.masonry({
    // options...
    itemSelector: '.portfolio-item',
    masonry: {
      columnWidth: 10
    }
  });
});
</script>
<script>
        var offset = 20;
        $(document).on('click', '.upload-more', function() {
            $.get(
                '{{ path('ajax_get_foto') }}',
                { offset: offset },
                function(data, status) {
                    if(status == 'success') {
                        if(!data) {
                            $('.upload-more').hide();
                        }
                        $('.portfolio').append(data);
                    }
                    offset += 20;
                }
            );
        })
    </script>
<script>
        var offsetvideo = 5;
        $(document).on('click', '.upload-more1', function() {
            $.get(
                '{{ path('ajax_get_video') }}',
                { offsetvideo: offsetvideo },
                function(data, status) {
                    if(status == 'success') {
                        if(!data) {
                            $('.upload-more1').hide();
                        }
                        $('.video').append(data);
                    }
                    offsetvideo += 5;
                }
            );
        })
    </script>
    {% endblock %}
